.App {
  font-family: sans-serif;
  text-align: center;
}

.Recognition {
  font-family: sans-serif;
  text-align: center;
}
header {
  font-size: 20px;
  height: 30px;
  text-align: center;
}

/*keep center, it's good for the pointer element*/
.words {
  text-align: center;
  font-size: 20px;
  float: left;
  min-width: 5%;
  height: 50px;
  padding: 20px;
  /*this is so you can see the container*/
}
.block {
  display: block
}

.pointer {
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid red;
  position: relative;
}
