#text-button {
    font-size: large;
    max-width: 45%;
}

#text-container {
    max-width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#text-menu-container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

#checkmark-img {
    max-width: 15%;
    height: auto;
}

#checkmark-container {
    display: flex;
    justify-content: center;
}