.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(75px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: #cfd8dc;
}

.clear-fix {
  clear: both;
}

.light-btn {
  background-color: #cfd8dc;
  color: #7b8d93 !important;
  border: 1px solid transparent;
}

.dark-btn {
  background-color: #7b8d93;
  color: white;
  border: 1px solid transparent;
}

.dark-btn:hover, .light-btn:hover, .dark-btn:focus, .light-btn:focus {
  border: 1px solid #7b8d93 !important;
  background-color: #f3f3f3 !important;
  color: #7b8d93;
}
