#students-table-container, #texts-table-container {
    width: 45%;
    margin: 2.5%;
}

#texts-table-container {
    float: left;
}

#texts-table-container > tbody > tr {
    background-color: #cfd8dc;
    color: #7b8d93;
}

#texts-table-container > tbody > tr:first-child {
    background-color: #9DA6A9;
    color: white;
}

#texts-table-container svg {
    float: right;
    margin-top: 1%;
    height: 15px;
    width: 15px;
}

#add-text-btn {
    float: right;
    margin-top: 1%;
}

#add-row {
    cursor: pointer;
}

#save-text{
    margin: 10px;
    width: 100px;
}

#students-table-container {
    float: right;
}

#students-table-container tr {
    background-color: #cfd8dc;
    color: #7b8d93;
    cursor: default;
}

#students-table-container svg {
    float: left;
    margin-top: 3%;
    color: white;
}

#students-accordian{
    background-color: #7b8d93;
    border: none;
    color: white;
}

#students-accordian:hover{
    background-color: #69777c;
    color: white;
}

.checkbox-btn{
    float: right;
    margin-top: 3%;
    cursor: pointer;
}