#welcome-banner {
    margin-bottom: 5%;
}

#homepage-container {
    margin: 1%;
    position: relative;
    min-height: 50vh;
    text-align: center;
}

#dashboard-buttons {
    justify-content: space-between;
    margin: auto;
}

#dashboard-buttons:first-child {
    float: left;
}

#dashboard-buttons:last-child {
    float:right;
}

#dashboard-buttons > * {
    margin: 1%;
}

#create-classroom-btns {
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

#create-classroom-btns > * {
    margin: 0 2%;
}


#classrooms-table-container {
    margin: auto;
    width: 70%;
}

#add-row{
    font-size: 20px;
    background-color: #6c757d;
    color: #fff;
}

#btn-circle{
    float: right;
    margin-top:5px;
    margin-left:10px;
}

.radio-btn{
    float: right;
}

table {
    table-layout: fixed;
    margin: auto;
    border: 1px solid #6c757d;
    font-size: larger;
    width:70%;
}
table, th, td {
    padding: 5px 15px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #6c757d;
}

tbody > tr:hover, tbody >tr:focus {
    background-color: #fff;
    cursor: pointer;
}

th {
    background-color: #6c757d;
    color: #fff;
}



 /* .table>tbody>tr.active>td {
    background: #123456;
    color: #fff;
  } */

/* #tr-style:enabled{
    background: #123456;
    color: #fff;
} */
#logout-btn {
    float: right;
    margin-right: 2%;
}

.list-group-item {
    background-color: #cfd8dc;
    color: #7b8d93;
}

.list-group-item > svg:first-child {
    float: left;
}

.list-group-item > svg {
    height: 24px;
    width: 24px;
}

.list-group-item > svg:last-child {
    float: right;
}

#back-arrow {
    height: 7.5%;
    width: 7.5%;
}

#back-arrow > svg {
    color: black;
    height: 100%;
    width: 100%;
}

#student-info {
    display: flex;
}

#photo-container {
    border-radius: .3rem;
    background-color: #cfd8dc;
    height: 200px;
    width: 200px;
}

#photo-container > svg {
    color: white;
    height: 50%;
    width: 50%;
    margin: 50px;
}

#name-container {
    padding-left: 10px;
}

#student-view-container {
    margin: 3.5%;
}

#stats-table {
    width: 50%;
    background-color: ghostwhite;
}

#recording-view-container {
    position: absolute;
    right: 0;
    margin-right: 10%;
    height: 40vh;
    width: 30vw;
}

#recording-view {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 30pt;
    display: flex;
    background-color: #cfd8dc;
}
#recording-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    margin: auto;
    margin-top: 2%;
    font-size: 25pt;
}

svg:nth-child(2) {
    font-size: 40pt;
}

th, td {
    padding: 2%;
    min-width: 7.5%;
}
