#welcome-banner {
    margin-bottom: 5%;
}

#homepage-container {
    margin: 1%;
    position: relative;
    min-height: 50vh;
    text-align: center;
}

#dashboard-buttons > * {
    margin: 1%;
}

#create-classroom-submit {
    margin-bottom: .25rem;
}

table {
    margin: auto;
    border: 1px solid #7b8d93;
}

table, th, td {
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #7b8d93;
}

tr:hover {
    background-color: rgb(231, 231, 231);
}

th {
    background-color: #7b8d93;
    color: white;
}